<div class="accordion-item" id="phase-<%= phase.id%>-user-<%= @current_user.id %>">
  <h2 class="accordion-header" id="heading-p-<%= phase.id %>">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-p-<%= phase.id %>" aria-expanded="false" aria-controls="collapse-p-<%= phase.id %>">
      <%= phase.name %>
    </button>
  </h2>
  <div id="collapse-p-<%= phase.id %>" class="accordion-collapse collapse" aria-labelledby="heading-p-<%= phase.id %>" data-bs-parent="#accordionPhases">
    <div class="accordion-body">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <%= link_to t(:matches), phase_path(id: phase.id), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t(:edit_phase), edit_phase_path(id: phase.id),
              remote: true, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t(:delete_phase), phase_path(id: phase.id),
              method: :delete, remote: true, data: {confirm: t(:are_you_sure)}, 
              class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to (phase.is_active? ? t(:unconfirm) : t(:confirm)),
              confirm_phase_phase_path(id: phase.id), remote: true,
              data: {confirm: t(:are_you_sure)}, class: "nav-link" %>
        </li>
        <li class="nav-item"></li>
      </ul>
      <div class="album">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="accordionMatches">
            <% phase.matches.each do |match| %>
              <%= render partial: "prediction/matches/match", locals: {match: match, process_mode: true} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>