<%= form_for :prediction, url: {action: :predict}, remote: true, class: "row g-3 needs-validation" do |f| %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= "#{phase.name} - #{match.full_name}" %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="$('#match-prediction-form').hide()"></button>
      </div>
      <div class="modal-body match-form">
        <%= f.hidden_field :match_id, value: match.id %>
        <div class="match-details">
          <div class="home-team team">
            <span class="team-name-long"><%= match.home_team.name %></span>
            <span class="team-name-long">(</span><span><%= match.home_team.short_name %></span><span class="team-name-long">)</span>      
          </div>
          <div class="scoreline">
            <div class="quantity quantity-div-left">
              <input type="number" name="prediction[home_team_score]" min="0" max="100" step="1" value="<%= prediction ? prediction.home_team_score : 0 %>" side="left">
            </div>
            <div class="seperator"></div>
            <div class="quantity quantity-div-right">
              <input type="number" name="prediction[away_team_score]" min="0" max="100" step="1" value="<%= prediction ? prediction.away_team_score : 0 %>" side="right">
            </div>
          </div>
          <div class="away-team team">
            <span class="team-name-long"><%= match.away_team.name %></span>
            <span class="team-name-long">(</span><span><%= match.away_team.short_name %></span><span class="team-name-long">)</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit t(:save), class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
<% end %>

<script>convert_number_fields();</script>