<% action = (competetion.id.nil? ? :create_competetion : :edit_competetion) %>
<%= form_for :competetion, url: {action: action}, remote: true, class: "row g-3 needs-validation" do |f| %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t(:new_competetion)%></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="$('#form-modal').hide()"></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <div class="mb-3 row">
              <label for="inputName" class="col-sm-5 col-form-label"><%= t(:name) %></label>
              <div class="col-sm-7">
                <%= f.text_field :name, class: "form-control", id: "inputName", required: true %>
              </div>
            </div>
            
            <div class="mb-3 row">
              <label for="inputNoofteams" class="col-sm-5 col-form-label"><%= t(:no_of_teams) %></label>
              <div class="col-sm-7">
                <%= f.number_field :no_of_teams, min: 0, class: "form-control", id: "inputNoofteams" %>
              </div>
            </div>
            
            <div class="mb-3 row">
              <label for="inputNoofPhases" class="col-sm-5 col-form-label"><%= t(:no_of_phases) %></label>
              <div class="col-sm-7">
                <%= f.number_field :no_of_phases, min: 0, class: "form-control", id: "inputNoofPhases" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <% button_name = (competetion.id.nil? ? :create : :save) %>
        <%= f.submit t(button_name), class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
<% end %>
