<main class="form-signin form-change-password text-center">
  <%= form_for :user, url: {action: :change_password}, class: "row g-3 needs-validation" do |f| %>
    <h1 class="h3 mb-3 fw-normal"> <%= "#{t(:please)} #{t(:change_your_default_password)}" %></h1>

    <div class="form-floating">
      <%= f.password_field :password, class: "form-control", id: "inputPassword", placeholder: t(:password), required: true %>
      <label for="inputPassword"><%= t(:password) %></label>
    </div>
    
    <div class="form-floating">
      <%= f.password_field :new_password, class: "form-control", id: "inputNewpassword", placeholder: t(:new_password), required: true %>
      <label for="inputNewpassword"><%= t(:new_password) %></label>
    </div>
    
    <div class="form-floating">
      <%= f.password_field :confirm_password, class: "form-control", id: "inputConfirmpassword", placeholder: t(:confirm_password), required: true %>
      <label for="inputConfirmpassword"><%= t(:confirm_password) %></label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit"><%= t(:save) %></button>
    <p class="mt-5 mb-3 text-muted">&copy; Footy Boyz 2021</p>
  <% end %>
</main>
