<div class="container inner-container">
  <div class="card">
    <div class="card-header">
      <div class="table-card-header"><%= t(:player_login_request) %></div>
      <div class="table-card-actions">
      </div>
    </div>
    <div class="card-body">
      <table class="table table-dark table-hover">
        <thead>
          <tr class="table-dark">
            <td class="table-dark">#</td>
            <td class="table-dark"><%= t(:name) %></td>
            <td class="table-dark"><%= t(:username) %></td>
            <td class="table-dark"><%= t(:phone_no) %></td>
            <td class="table-dark"><%= t(:status) %></td>
            <td class="table-dark actions-td"><%= t(:actions) %></td>
          </tr>
        </thead>
        <tbody>
          <% if @users.present? %>
            <% @users.each_with_index do |user, position| %>
              <tr class="table-dark">
                <td class="table-dark"><%= position + 1 %></td>
                <td class="table-dark"><%= link_to user.full_name, user_path(user) %></td>
                <td class="table-dark"><%= link_to user.username, user_path(user) %></td>
                <td class="table-dark"><%= user.phone_no %></td>
                <td class="table-dark">
                  <%= t((user.is_active? ? 'active' : 'inactive')) %>
                </td>
                <td class="table-dark actions-td">
                  <%= link_to t(:user_details), user_path(user.id),
                      class: "btn btn-sm btn-outline-secondary" %>
                  <%= link_to t(:reset_password), reset_password_user_path(user.id),
                      data: {confirm: t(:are_you_sure)},
                      class: "btn btn-sm btn-outline-secondary" %>
                  <%= link_to t(:delete_user), user_path(id: user.id),
                      method: :delete, data: {confirm: t(:are_you_sure)},
                      class: "btn btn-sm btn-outline-secondary" %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr class="table-dark">
              <td class="table-dark no-item-message" colspan="6">
                <%= t(:no_players_registered_yet) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>