<div class="card">
  <div class="card-header">
    <div class="table-card-header"><%= t(:player_login_request) %></div>
    <div class="table-card-actions">
      <%= link_to t(:login_request_approval), approval_users_path, class: "nav-link" if @users.present? %>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-dark table-hover">
      <thead>
        <tr class="table-dark">
          <td class="table-dark">#</td>
          <td class="table-dark"><%= t(:name) %></td>
          <td class="table-dark"><%= t(:username) %></td>
          <td class="table-dark"><%= t(:phone_no) %></td>
          <td class="table-dark"><%= t(:request_token) %></td>
        </tr>
      </thead>
      <tbody>
        <% if @users.present? %>
          <% @users.each_with_index do |user, position| %>
            <tr class="table-dark">
              <td class="table-dark"><%= position + 1 %></td>
              <td class="table-dark"><%= user.full_name %></td>
              <td class="table-dark"><%= user.username %></td>
              <td class="table-dark"><%= user.phone_no %></td>
              <td class="table-dark"><%= user.request_token %></td>
            </tr>
          <% end %>
        <% else %>
          <tr class="table-dark">
            <td class="table-dark no-item-message" colspan="5"><%= t(:no_players_registered_yet) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>