<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center">
  <div class="container">
    <%= link_to(root_path, class: "navbar-brand") do %>
      <%= image_tag "prediction/football-icon.png", class: "bi me-2", alt: "football-icon", width: "40", height: "40" %>
      <%= t(:predictions) %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if @current_user %>
          <% if @current_user.is_admin? %>
            <li class="nav-item">
              <%= link_to t(:table), table_predictions_path, class: "nav-link #{active_tab(params, "predictions", "table")}" %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle <%= active_tab(params, "users", "users") %>" href="#" id="navbarUsersdropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= t(:users) %>
              </a>
              <ul class="dropdown-menu bg-dark users-nav" aria-labelledby="navbarUsersdropdown">
                <li class="nav-item">
                  <%= link_to t(:player_login_request), login_requests_users_path, class: "dropdown-item" %>
                </li>
                <li class="nav-item">
                  <%= link_to t(:login_request_approval), approval_users_path, class: "dropdown-item" %>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li class="nav-item">
                  <%= link_to t(:all_users), users_path, class: "dropdown-item" %>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <%= link_to t(:settings), settings_path, class: "nav-link #{active_tab(params, "settings", "settings")}" %>
            </li>            
          <% else %>
            <li class="nav-item">
              <%= link_to t(:predict), root_path, class: "nav-link #{active_tab(params, "predictions", "predict")}" %>
            </li>            
            <li class="nav-item">
              <%= link_to t(:table), table_predictions_path, class: "nav-link #{active_tab(params, "predictions", "table")}" %>
            </li>
            <li class="nav-item">
              <%= link_to t(:rules), rules_predictions_path, class: "nav-link #{active_tab(params, "predictions", "rules")}" %>
            </li>
            
            <li class="nav-item logout-sm">
              <%= link_to t(:back), "javascript:window.history.back();", class: "nav-link" %>
            </li>
          <% end %>

          <li class="nav-item logout-sm">
            <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= image_tag "prediction/user-icon.png", class: "rounded-circle", alt: "user-icon", width: "32", height: "32" %>
            </a>
            <ul class="dropdown-menu bg-dark dropdown-menu-sm" aria-labelledby="navbarUserDropdown">
              <li class="nav-item"><%= link_to t(:profile), profile_user_path(id: @current_user.id), class: "dropdown-item text-white" %></li>
              <li><hr class="dropdown-divider"></li>
              <li class="nav-item"><%= link_to t(:logout), logout_users_path, class: "dropdown-item text-white" %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to t(:login_request), new_user_path, class: "nav-link #{active_tab(params, "users", "new")}" %>
          </li>
        <% end %>
      </ul>
    </div>
    <% if @current_user %>
      <div class="back-button">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to t(:back), "javascript:window.history.back();", class: "nav-link" %>
          </li>
        </ul>
      </div>
      <div class="dropdown text-end bg-dark user-icon-drop">
        <a href="#" class="d-block link-dark text-white text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
          <%= image_tag "prediction/user-icon.png", class: "rounded-circle", alt: "user-icon", width: "32", height: "32" %>
        </a>
        <ul class="dropdown-menu text-small  bg-dark" aria-labelledby="dropdownUser">
          <li>
            <%= link_to t(:profile), profile_user_path(id: @current_user.id), class: "dropdown-item text-white" %>
          </li>
          <li><hr class="dropdown-divider text-white"></li>
          <li>
            <%= link_to t(:logout), logout_users_path, class: "dropdown-item text-white" %>
          </li>
        </ul>
      <% end %>
  </div>
</nav>