<!DOCTYPE html>
<html>
  <head>
    <title>Prediction</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "prediction/application", media: "all" %>
    <%= javascript_include_tag 'prediction/prediction' %>
  </head>
  <body class="d-flex flex-column h-100">
    <header class="p-3 mb-3 border-bottom p-3 bg-dark text-white navbar-header">  
      <%= render partial: "layouts/prediction/navbar" %>
    </header>
    <main class="flex-shrink-0">
      <div class="container-fluid">
        <div class="container inner-container">
          <div id="errors">
            <%= render partial: "layouts/prediction/errors", locals: {errors: @errors} %>
          </div>
          <%= yield %>
        </div>
      </div>
    </main>
    <!-- <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer> -->
  </body>
</html>
